.GameBoard-grid {
    width: fit-content;
    margin: 2em auto;
}

.GameBoard-grid.Beginner {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(9, 1fr);
}

.GameBoard-grid.Intermediate {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr) ;
}

.GameBoard-grid.Expert {
    display: grid;
    grid-template-columns: repeat(30, 1fr);
    grid-template-rows: repeat(16, 1fr);
}

.GameBoard-grid-cell {
    width: 2.2em;
    height: 2.2em;
}