@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300&display=swap');
/* general styling */
* {
    text-align: center;
    font-family: 'Oxygen', sans-serif;
}
h1 {
    margin: 15px 0;
}
h2 {
    margin: 5px 0 5px 0;
}
ul{
    margin: 0;
}
li {
    list-style: none;
}
header {
    margin: 0 0 1em 0;
}
h3 {
    margin: 0;
    margin-top: .6em;
    font-weight: 900;
}

/* cover grid */
#gridOverlay {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(9, 1fr);
    margin: 0 auto;
    margin-left: -280px;
    height: 35em;
    width: 35em;
    top: 173px;
    right: 50%;
}
.cover {
    display: block;
    background-color: rgb(192,192,192);
    border: 5px outset rgb(150,150,150);
    padding: 6px 0;
}

/* main game grid */
main {
    display: grid;
    grid-template-columns: 50% 1fr 2fr;
    grid-template-rows: 1fr 1fr;
}
#gameboard {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(9, 1fr);
    margin: 0;
    padding: 10px 0;
    height: 35em;
    max-height: 35em;
    width: 35em;
    grid-row: 1 / 3;
    align-self: center;
    justify-self: end;
}
.square {
    border: 1px solid black;
    padding: .4em 0;
}
.mine {
    max-width: 1.8em;
    margin-top: .4em;
}
.hide {
    display: none;
}
.show {
    max-width: 2em;
    top: 20%;
}

/* dashboard */
.stopwatch, .bestTime {
    border: 2px solid black;
    padding: 10px;
    margin: 0 1em;
    width: 130px;
    height: 80px;
}
.stopwatch {
    align-self: end;
    margin: 0 auto;
}
.bestTime {
    grid-column: 3;
    align-self: end;
}
.diff {
    border: 2px solid black;
    padding: 10px;
    margin: 2em 5em;
    justify-self: start;
    align-self: start;
    padding-bottom: 20px;
    grid-column: 2 / 4;
}
.stopwatch p, .bestTime p {
    font-size: 1.5em;
    margin: 8px auto;
}

/* game end display */
#gameEndDisplay {
    display: none;
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(0,0,0,.3);
}
#gameEndBox {
    background-color: white;
    position: absolute;
    border: 1px solid black;
    width: 350px;
    height: 320px;
    margin-left: -190px;
    top: 140px;
    left: 50%;
}
#gameEndText {
    margin: 5px 0 0 0;
}
#winLossEmoji {
    display: block;
    font-size: 90px;
    margin: 10px auto;
}
#diffChoice {
    margin: 30px 0;
}
#diffChoice a {
    display: inline;
    font-size: 1.5em;
}